# Ignore model weights and large artifacts
models/
**/models/
*.safetensors
*.bin
*.pt
*.onnx
*.xml
*.bin
*.pb
*.h5

# Python noise
__pycache__/
*.pyc
.env
.venv

# ignore data files
data/raw/
data/**/raw/
data/**/pdf
*.parquet
*.csv
rag/**/faiss_index/*

